<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="passwordLogin()">
		<ion-list lines="none">
			<ion-item lines="inset">
				<ion-label position="floating">{{content?.usernameLabel}}</ion-label>
				<ion-input type="text" formControlName="username"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label class="small-font ion-text-end">{{content?.rememberMeLabel}}</ion-label>
				<ion-checkbox class="remember-me ion-margin-start" [checked]="rememberUser" (ionChange)="toggleRememberUser($event)" slot="end"></ion-checkbox>
			</ion-item>
			<ion-item lines="inset">
				<ion-label position="floating">{{content?.passwordLabel}}</ion-label>
				<ion-input type="password" formControlName="password"></ion-input>
				<div class="biometrics-icon" *ngIf="displayBiometricsIcon" slot="end" (click)="biometricAuth()">
					<img [src]="biometricsImageSource" [alt]="content?.biometricsIconAria" />
				</div>
			</ion-item>
			<ion-item>
				<ion-label class="small-font ion-text-end">{{content?.showPasswordLabel}}</ion-label>
				<ion-checkbox class="show-password ion-margin-start" (ionChange)="displayPassword = !displayPassword" [checked]="displayPassword" slot="end">
				</ion-checkbox>
			</ion-item>
			<!-- <app-dateofbirth *ngIf="requestDob" [dateOfBirthLabel]="content?.dateOfBirthLabel" [invalidDateErrorLabel]="content?.invalidDateErrorLabel" [parentForm]="form"></app-dateofbirth> -->
		</ion-list>
		<div class="ion-text-center">
			<ion-button id='loginBtn' type="submit" color="primary" [disabled]="form.invalid">{{content?.loginButtonText}}</ion-button>
		</div>
	</form>
</ion-content>
