<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <iframe #eula [src]="safeFrameResourceURL" (load)="frameLoaded($event)"></iframe>
  <ion-button [disabled]="isScrollingAgreement" (click)="agreeClick()">Agree</ion-button>
  </div>

</ion-content>
