<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-button color="danger" (click)="present(true)">Present Modal with ion-contnet</ion-button>
<ion-button color="primary" (click)="present(false)">Present Modal without ion-contnet</ion-button>


<ion-button color="secondary" (click)="share()">
  <ion-icon name="download" slot="icon-only"></ion-icon>
</ion-button>


  <app-explore-container name="Tab 1 page"></app-explore-container>

</ion-content>
