

.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding: .5em;

  iframe {
    border-radius: .25em;
    flex: 1 0 auto;
    margin: 1em;
    width: 100%;
    min-height: 40vh;
  }
}
